In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Import our Data

data= pd.read_csv('/kaggle/input/titanic/train.csv', sep =',',encoding ='utf-8')

In [ ]:
#check the frist 5 rows

data.head()

In [ ]:
#check the last 5 rows

data.tail()

In [ ]:
#Number of Rows And Number of Columns

print("Number of columns :",data.shape[0])
print("Number of Rows :",data.shape[1])

In [ ]:
#Get Information About Our Dataset 
data.info()

**Get Overall Statistics About The Dataframe**

In [ ]:
data.describe()

In [ ]:
#Check Missing Values In The Dataset
data.isnull()
per_missing=data.isnull().sum()*100/len(data)

per_missing

In [ ]:
# to be more clear we use heatmap

sns.heatmap(data.isnull(),cmap='viridis',cbar=True,yticklabels=False)
plt.title("Missing Data")
plt.show()

**Handle Missing Values**

In [ ]:
data.columns

In [ ]:
#We can see 78.2 % of Cabin Column is missing so it is unusaless so we can drop it .

data.drop('Cabin',axis=1,inplace=True)

data

In [ ]:
#We can see also 20.57 % of Age Column is missing and Age is very imoprtant for as so we can replace missing Age data with the mean of Age

data['Age'].fillna(data['Age'].mean(),inplace=True)

data

In [ ]:
# we need to  prepare our data to nomerical then we can use it in machine learning.

data['Sex'].unique()

In [ ]:

# Sex convert to Numric 0 or 1

x=data['Sex'].map({'male':1,'female':0})
data.insert(5,'Gender_new',x)

In [ ]:
data

In [ ]:
#Handling with Embarked columns 


data['Embarked'].unique()

In [ ]:
#Add New_Embarked Columns 

def Embarked(Embarked):
    if Embarked =="Q":
        return "Queenstown"
    elif Embarked =="S":
        return "Southampton"
    else:
        return "Cherbourg"

data['New_Embarked']=data['Embarked'].apply(Embarked)


data

In [ ]:
#Check if we have Duplicatein our data

dup=data.duplicated().any()
print("Any duplicate Value?",dup)

In [ ]:
data.columns

In [ ]:
#we need the numrical data to used in Machine learning 

df_Titanic=data[['Survived', 'Pclass', 'Name', 'Gender_new', 'Age','SibSp', 'Parch', 'Fare', 'Embarked']]
df_Titanic

In [ ]:
# Still we need Convert  Embarked as Dummies
df_Titanic =pd.get_dummies(df_Titanic,columns=['Embarked'])

df_Titanic

# **Then we will clean data **

In [ ]:

data.head()

In [ ]:
#Convert Survived  to Catigory Survived or Died

def Result(Result):
    if Result== 0:
        return "Died"
    else:
        return "Survived"

data['PassengerCase']=data['Survived'].apply(Result)

data

In [ ]:
#Convert  Aslo Pclass  to Catigory Third , Second or First Class

def classes(clas):
    if clas== 1:
        return "First Class"
    elif clas== 2:
        return "Second Class"
    
    else:
        return "Third Class"

data['New_Pclass']=data['Pclass'].apply(classes)

data

In [ ]:
#Convert  Aslo Age  to Catigory Third , Second or First Class

def age_cat(age):
    if age >= 80.0:
        return "Elderly"
    elif age>= 66.0:
        return "Middle-Aged"
    elif age>= 26.0:
        return "Youth"
    elif age>= 18.0:
        return "Adolescence"
    elif age>=11.0:
        return "underage"
    else:
        return "Kides"

data['Age_Cat']=data['Age'].apply(age_cat)

data

In [ ]:
data['Age_Cat'].value_counts()

In [ ]:
# Create Firtname and lastname

data['Firstname'] =data['Name'].apply(lambda x:x.split(',')[1])
data['lastname'] =data['Name'].apply(lambda x:x.split(',')[0])
data['Title']=data['Firstname'].apply(lambda x:x.split('.')[0])

data

In [ ]:
data.columns

In [ ]:
#Drop all culomns unused  


data=data.drop(columns=['Pclass','Name','Embarked','Gender_new'])
data

# **Now we can start Analysis**

In [ ]:
data.columns

**How Many People Survived And How Many Died?**

In [ ]:
data['PassengerCase'].value_counts()

In [ ]:
sns.countplot(data['PassengerCase'])

In [ ]:
plt.pie(data['PassengerCase'].value_counts(),autopct='%2.1f%%')

plt.show()

# Passenger by Embarked

In [ ]:
data['New_Embarked'].value_counts()

In [ ]:
sns.countplot(data['New_Embarked'])

# How Many Passengers Were In First Class, Second Class, and Third Class?

In [ ]:
data['New_Pclass'].value_counts()

In [ ]:
sns.countplot(data['New_Pclass'])

# Number of Male And Female Passengers

In [ ]:
data['Sex'].value_counts()

In [ ]:
sns.countplot(data['Sex'])

In [ ]:
plt.pie(data['Sex'].value_counts(),autopct='%2.1f%%')

plt.show()

# Age Distribution

In [ ]:
plt.hist(data['Age'])

In [ ]:
sns.boxplot(data['Age'],orient="Vertical")

In [ ]:
sns.countplot(data['Age_Cat'])

# Bivariate Analysis

# How Has Better Chance of Survival Male or Female?

In [ ]:
data.columns

In [ ]:
data['Sex'].unique()

In [ ]:
sns.barplot(x='Age_Cat',y='Survived',data=data)

# Which Passenger Class Had Better Chance of Survival (First, Second, Or Third Class)?

In [ ]:
sns.barplot(x='New_Pclass',y='Survived',data=data)

# Which Gender of passenger Had Better Chance of Survival (Male Or Female)?

In [ ]:
sns.barplot(x='Sex',y='Survived',data=data)

In [ ]:
data.to_csv('Titanic_data.csv')